<article class="article-detail">
    <h1>{{article.name}}</h1>
    <img src="/images/{{article.image}}" alt="{{article.name}}">
    <p class="published">Published: {{article.published}}</p>
    <div class="article-body">
        {{{article.body}}}
    </div>
    <a href="/" class="back-link">Back to Articles</a>
</article>



