<h1>Articles</h1>

<div class="articles-list">
    {{#articles}}
    <article class="article-card">
        <img src="/images/{{image}}" alt="{{name}}">
        <h2>{{name}}</h2>
        <p>{{body}}</p>
        <a href="/article/{{slug}}" class="read-more">Read More</a>
    </article>
    {{/articles}}
</div>