<h1>Homepage</h1>

<div class="article-list">
    {{#articles}}
    <article>
        <a href="/articles/{{slug}}"><img src="/images/{{image}}" alt="{{this.title}}"></a>
            <h2><a href="/articles/{{slug}}">{{name}}</a></h2>
        </div></article>
    {{/articles}}
</div>